/* Start Heading */
.header {
  background-color: #000000;
  color: #fff;
  text-align: center;
  position: relative;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 10vh;
  padding: 10px 0px;
  position: relative;
}
.header__logo {
  width: 200px;
  text-align: left;
}
.header__landing {
  background-color: #fff;
  min-height: 100vh;
}

svg {
  width: 30%;
  height: 50%;
  right: 0;
  margin-right: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  svg {
    display: none;
  }
}

/* Animate svg */
#twoL {
  -webkit-animation-name: numL;
  animation-name: numL;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
}

#twoR {
  -webkit-animation-name: numR;
  animation-name: numR;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
}

#twoC {
  -webkit-animation-name: numC;
  animation-name: numC;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
}

#zero {
  -webkit-animation-name: numZ;
  animation-name: numZ;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
}

#balon {
  -webkit-animation-name: balon;
  animation-name: balon;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transform-box: fill-box;
}

#seilL {
  -webkit-animation-name: seilL;
  animation-name: seilL;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transform-box: fill-box;
}

#seilR {
  -webkit-animation-name: seilR;
  animation-name: seilR;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transform-box: fill-box;
}

@-webkit-keyframes numL {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
}

@keyframes numL {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
}
@-webkit-keyframes numR {
  0% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  50% {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
  }
  100% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
}
@keyframes numR {
  0% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  50% {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
  }
  100% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
}
@-webkit-keyframes numC {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes numC {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes numZ {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes numZ {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes balon {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  70% {
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
  }
  90% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes balon {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  70% {
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
  }
  90% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes seilL {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  10% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
}
@keyframes seilL {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  10% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
}
@-webkit-keyframes seilR {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
}
@keyframes seilR {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
}
/* End Animation */
.toggle-menu {
  position: absolute;
  right: 2px;
}
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.links__item {
  text-align: center;
}
.links__item__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.links__item:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .links {
    display: none;
  }
}

.info {
  color: #fff;
  background-color: #264653;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 35%;
}
.info__title {
  font-size: 32px;
  font-weight: lighter;
  margin: 1 0px 0px;
}
.info__text {
  font-size: 14px;
  margin: 0px 0px 10px;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .info {
    width: 100%;
  }
}

/* End Heading */
/*# sourceMappingURL=HeaderElement.css.map */
