/* Import Variables and Mixins */
@use "./Scss/variables" as var;
@use "./Scss/mixins" as mix;
/*Start Global Roles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  @include mix.containerDiv;
}
/* End Global Roles */
